<form action="">
  <label for="amount_input">How many bitcoins do you want to value in USD?</label>
  <input type="text" name="amount" id="amount_input" value="<%=params["amount"]%>">
  <button>Submit</button>
</form>

<p>You have <%= @bitcoin %> Bitcoin.</p>
<p>1 Bitcoin is valued at $<%= @usd_rate %> USD.</p>
<p>Your Bitcoins are worth $<%= @usd_value %>.</p>
